.buttonStyle {
  border: 1px solid blue;

  @apply text-철수가좋아하는색깔; /* 테일윈드CSS랑 함께 쓰기 */
}

.boxStyle1 {
  width: 200px;
  height: 200px;
  /* background: blanchedalmond */

  @apply bg-영희가좋아하는색깔; /* 테일윈드CSS랑 함께 쓰기 */
}

.boxStyle2 {
  width: 200px;
  height: 200px;
  /* background: blanchedalmond */

  @apply bg-영희가좋아하는색깔; /* 테일윈드CSS랑 함께 쓰기 */

  padding: 30px; /* @tailwind base에 이미 box-sizing:border-box 들어있음 */
}